<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.fashion.model.domain.Admin" 			alias="Admin"/>
		<typeAlias type="com.fashion.model.domain.Topcategory" 	alias="Topcategory"/>
		<typeAlias type="com.fashion.model.domain.Subcategory" 	alias="Subcategory"/>
		<typeAlias type="com.fashion.model.domain.Product" 			alias="Product"/>
		<typeAlias type="test.Dept" 												alias="Dept"/>
		<typeAlias type="test.Emp" 												alias="Emp"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/myoracle" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/fashion/mybatis/mapper/AdminMapper.xml" />
		<mapper resource="com/fashion/mybatis/mapper/TopcategoryMapper.xml" />
		<mapper resource="com/fashion/mybatis/mapper/SubcategoryMapper.xml" />
		<mapper resource="com/fashion/mybatis/mapper/ProductMapper.xml" />
		<mapper resource="com/fashion/mybatis/mapper/DeptMapper.xml" />
		<mapper resource="com/fashion/mybatis/mapper/EmpMapper.xml" />
	</mappers>
</configuration>






