<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cart">
	
	<!-- Cart.java 클래스에는 has a 관계로 Customer , Product가
	있기 때문에 자동매핑은 불가하며,  association 처리해야 한다 -->
	<resultMap type="Cart" id="cartmap">
		<id 				column="cart_id" 			property="cart_id"/>
		<result 			column="ea" 					property="ea"/>
		<association 	column="product_id" 		property="product" 	javaType="Product" 		select="Product.select"/>
		<association 	column="customer_id" 	property="customer" 	javaType="Customer" 	select="Customer.select"/>
	</resultMap>

	<!-- 장바구니에 상품 1건 등록 -->
	<insert id="insert" parameterType="Cart">
		insert into cart(cart_id,ea,product_id,customer_id)
		values(seq_cart.nextval, #{ea}, #{product.product_id}, #{customer.customer_id} )
	</insert>	
	
	<!-- 회원의 장바구니 가져오기 -->
	<select id="selectByCustomer" parameterType="int" resultMap="cartmap">
		select * from cart where customer_id=#{customer_id}
	</select>
	
	<!-- cart_id값에 의해 한건 삭제 -->
	<delete id="delete" parameterType="int">
		delete from cart where cart_id=#{cart_id}	
	</delete>
</mapper>








